In [1]:
def square(n):
    ans = n * n
    return ans

In [2]:
square(4)

16

In [3]:
def power(n, m):
    ans = 1
    for i in range(m):
        ans = ans * n
    return ans

In [4]:
power(4, 2)

16

In [ ]:
# def square(n):
    return power(n, 2)

In [ ]:
square(4)

16

In [7]:
# Create a list of numbers.
numbers = list(range(10))

In [8]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# Apply f to all numbers.
def mapall(f, l):
    return [f(i) for i in l]

In [10]:
# Apply square function (from above) to numbers list.
mapall(square, numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
# Apply str() function to numbers.
mapall(str, numbers)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [12]:
# Apply an anonymous function to numbers.
mapall(lambda x: x - 5, numbers)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]